
  <div class="container-nav">
    <div class="main-nav-desktop">
      <div class="main-nav-desktop-items">
        <div class="main-nav-desktop-logo">AncientOne</div>
        <div class="main-nav-desktop-category"  style=" background-color: #666">WOMEN</div>
        <div class="main-nav-desktop-category">MEN</div>
        <div class="main-nav-desktop-search"><div class="search-input"><input type="text" placeholder="Search brands,items"><span><img src="assets/icons/magnifier-tool.svg"></span></div></div>
        <div class="main-nav-desktop-icons"></div>
        <div class="main-nav-desktop-icons"></div>
        <div class="main-nav-desktop-icons"></div>

      </div>
    </div>
      <div class="main-nav-desktop-sub-nav">
        <div class="main-nav-desktop-sub-nav-category"><div>New In</div></div>
        <div class="main-nav-desktop-sub-nav-category"><div>Clothing</div></div>
        <div class="main-nav-desktop-sub-nav-category"><div>Shoes</div></div>
        <div class="main-nav-desktop-sub-nav-category" style="background-color: #d01345;
    transform: skew(-15deg);"><div style="transform: skew(15deg)">Accessories</div></div>
        <div class="main-nav-desktop-sub-nav-category"><div>Activewear</div></div>
        <div class="main-nav-desktop-sub-nav-category"><div>Face + Body</div></div>
        <div class="main-nav-desktop-sub-nav-category"><div>Living + Gifts</div></div>
      </div>

  </div>


