<div class="container-filter" >
<!--  <div class="filter-web">-->
<!--    <div class="filter-web-list">-->
<!--      <div class="filter-web-items">Sort <span><img src="assets/images/down-arrow.svg"></span>-->

<!--      </div>-->
<!--       <div class="filter-web-items">Category<span><img src="assets/images/down-arrow.svg"></span>-->

<!--       </div>-->
<!--       <div class="filter-web-items">Product Type<span><img src="assets/images/down-arrow.svg"></span>-->

<!--       </div>-->
<!--       <div class="filter-web-items">Brand<span><img src="assets/images/down-arrow.svg"></span>-->

<!--       </div>-->
<!--       <div class="filter-web-items">Size<span><img src="assets/images/down-arrow.svg"></span>-->

<!--       </div>-->
<!--      <div class="filter-web-items">Size UK<span><img src="assets/images/down-arrow.svg"></span>-->

<!--      </div>-->
<!--      <div class="filter-web-items">Sort<span><img src="assets/images/down-arrow.svg"></span>-->
<!--&lt;!&ndash;        <div class="filter-web-items-sublist">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="filter-web-subitems">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="filter-web-subitem">Alphabatical</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="filter-web-subitem">Numerical</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="filter-web-subitem">Latest</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="filter-web-subitem">Most Viewed</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="filter-web-subitem">Most Bought</div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <h1>Filter works</h1>
</div>




