
.container-shop {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.something-about-product {
  grid-column: 1/3;
  padding: 2vw;
  word-break: break-word;

}
.heading {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}
.subheading {
  font-size: .8rem;
}

.items-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px,1fr));
  grid-gap: .5rem;
}

.item-cover-box{
  width: 100%;
  height: inherit;
  position: relative;
}
.item-cover-box-headings {
  letter-spacing: inherit;
  line-break: auto;
  margin: auto;
}
.item-cover-image{
  width: inherit;
  height: inherit;
}
.item-cover-image>img{
  width:inherit;
  height:inherit;
}
.item-cover-box-headings {
  letter-spacing: inherit;
  line-break: auto;
  margin: 5rem 1rem auto auto;
}
.item-cover-footer-content {
  display: inline-block;
  width: 100%;
  padding: 1vw 1vw 1.5vw;
}

.item-cover-number {
  text-align: right;
}
.item-cover-lcontent {
  display: block;
  width: 100%;
  font-weight: normal;
  font-size: .8rem;
  letter-spacing: normal;
  word-spacing: normal;
  position: relative;

}
.item-cover-content-heading {
  display: block;
  font-size: 1rem;
  position: relative;
  font-weight: bold;
}
.item-cover-content-subheading {
  font-size: inherit;
  display: block;
  position: relative;
}
/*.item-cover-content-heading::before {*/
/*  content: '';display: inline-block;*/
/*  width: 2em;*/
/*  height: 0.1em;*/
/*  position: relative;*/
/*  background: lightgrey;*/
/*  box-sizing: border-box;*/
/*  margin-left: 1em;*/
/*  margin-right: 1em;*/
/*  vertical-align: middle;*/
/*}*/
/*.item-cover-content-heading::after {*/
/*  content: '';display: inline-block;*/
/*  width: 2em;*/
/*  height: 0.1em;*/
/*  position: relative;*/
/*  background: lightgrey;*/
/*  box-sizing: border-box;*/
/*  margin-left: 1em;*/
/*  vertical-align: middle;*/
/*}*/
.item-cover-footer {
  border-right: solid lightgrey 1px;
  border-bottom: solid lightgrey 1px;
}
.item-cover-box-overlay {
  position: absolute;
  width: inherit;
  height: inherit;
  display: block;
  bottom: 0;
  top: 0;
  cursor: pointer;
}
.item-cover-box-overlay-content {
  color: white;
  display: inline-flex;
}

.item-cover-box-details {
  font-size: 5rem;
  display: inline-flex;
  writing-mode: vertical-rl;
  height: 100%;
}

.item-cover-box-heading {
  font-size: 2rem;
}
.item-cover-box-subheading {
  font-size: .8rem;
  letter-spacing: .1em;
}
.item-cover-box-details::after {
  content: '';
  width: .1rem;
  background: ghostwhite;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
}

.container-shop-mobile {
  display: grid;
  grid-template-columns: 1fr;
}
.items-container {
  padding: .5rem;
  grid-row: 3;

}
/*Filters css starts here*/
app-filters-for-mobile {
  position: fixed;
}

app-filters-for-web {
  grid-column: 1;
  grid-row: 2/5;
}
.identity-item-icons{
  margin-right: 1.3rem;
}




.filter-for-web-hotfix-container {
  grid-row: 2;
  padding: .4rem;    grid-column: 2/3;
}
.filter-bar-items {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: end;
}
.filter-item {
  display: flex;
  width:100%;
}
.filter-item:nth-child(1) {
  margin-right: auto;

}

